/* 
    Document   : myCss
    Created on : Oct 24, 2013, 9:28:10 PM
    Author     : andrazhribernik
    Description:
        Purpose of the stylesheet follows.
*/

.tumbnail-margin{
    margin: 20px;
}



